.reviews-from-customers-img {
  display: flex;
}

.reviews-from-customers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.reviews-from-customers img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 2px solid #202122;
}

.reviews-from-customers p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: #333333;
  letter-spacing: 0.1rem;
  margin-top: 1.4rem;
}

.reviews-from-customers span {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: #202122;
  letter-spacing: 0.5px;
  font-weight: 800;
}
/* header container */
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f7;
}

.header-logo {
  width: 6rem;
  height: 6rem;
  margin-top: 2rem;
  margin-left: 6rem;
}

.main-nav {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: #202122;
}

.section-how {
  padding: 9.6rem 0;
}
/* Grid container reusable code */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 3.5rem;
  row-gap: 6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.section-how {
  padding: 9.6rem 0;
  font-size: 2rem;
}

.step-img {
  width: 100%;
  border-radius: 6px;
  
}

.glow-red {
  filter: drop-shadow(red 0.5rem 0.5rem 10px);
}

.glow-violet {
  filter: drop-shadow(rgb(145, 77, 209) 0.5rem 0.5rem 10px);
}

.glow-blue {
  filter: drop-shadow(rgb(70, 58, 241) 0.5rem 0.5rem 10px);
}



.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center ;
}

.step-number {
  font-size: 4.8rem;
  font-weight: 600;
  color: #72767a;
  margin-bottom: 1.2rem;
  background-color: rgb(228, 228, 228);
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}

.step-number:hover, .step-number:active {
  font-size: 4.8rem;
  font-weight: 600;
  color: #2c2c2c;
  margin-bottom: 1.2rem;
  background-color: rgb(228, 228, 228);
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  transition: 0.78s;
}

.step-description {
  font-size: 2rem;
  
}