.reviews-from-customers-img {
  display: flex;
}

.reviews-from-customers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.reviews-from-customers img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 2px solid #202122;
}

.reviews-from-customers p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: #333333;
  letter-spacing: 0.1rem;
  margin-top: 1.4rem;
}

.reviews-from-customers span {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: #202122;
  letter-spacing: 0.5px;
  font-weight: 800;
}
/* header container */
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5f7;
}

.header-logo {
  width: 6rem;
  height: 6rem;
  margin-top: 2rem;
  margin-left: 6rem;
}

.heading-featured-in {
  font-size: 2rem;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.9rem;
}

.section-featured {
  padding: 4.9rem 0;
}

.logos {
  display: flex;
  justify-content: space-around;
  filter: grayscale(100);
  filter: brightness(0);
}

.logos img {
  height: 4rem;
}

.main-nav {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.05;
  color: #202122;
}

.section-how {
  padding: 9.6rem 0;
  background-color: #f5f5f7;
}
/* Grid container reusable code */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 3.5rem;
  row-gap: 6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.section-how {
  padding: 9.6rem 0;
  font-size: 2rem;
}

.step-img {
  width: 100%;
  border-radius: 6px;
}

.glow-red {
  filter: drop-shadow(red 0.5rem 0.5rem 10px);
}

.glow-violet {
  filter: drop-shadow(rgb(145, 77, 209) 0.5rem 0.5rem 10px);
}

.glow-blue {
  filter: drop-shadow(rgb(70, 58, 241) 0.5rem 0.5rem 10px);
}

.step-image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number {
  font-size: 4.8rem;
  font-weight: 600;
  color: #72767a;
  margin-bottom: 1.2rem;
  background-color: rgb(228, 228, 228);
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
}

.step-number:hover,
.step-number:active {
  font-size: 4.8rem;
  font-weight: 600;
  color: #2c2c2c;
  margin-bottom: 1.2rem;
  background-color: rgb(228, 228, 228);
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  transition: 0.78s;
}

.step-description {
  font-size: 2rem;
}

.section-products {
  padding: 9.6rem 0;
}

.product {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 9px;
  overflow: hidden;
  transition: 0.3s;
}

.product-content {
  padding: 2.2rem 2.2rem;
}

.product-category {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: #686565;
  color: #f5f5f7;
  border-radius: 100px;
  margin-bottom: 2rem;
}

.product-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  font-weight: 600;
  margin-bottom: 2rem;
}

.product-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.product-attribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.product-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #333333;
}
.product-img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.product-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #72767a;
}

.list-product-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 3rem;
  gap: 2rem;
}

.margin-bottom-md {
  margin-top: 4.8rem;
  font-size: 2rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

.container-all-products {
  display: flex;
  justify-content: center;
}

.product:hover {
  transform: translateY( -1.2rem);
  box-shadow: 0 6rem 6.8rem rgba(0, 0, 0, 0.095);

}